doctype html
html
	head
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='/javascripts/application.js')
		script(src='/javascripts/isotope.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script.
			var clientdata = !{JSON.stringify(clientdata)};
	body
		block content
