body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	color: #CCC;

	width:100%;
	background: linear-gradient(180deg, #333 0%, #444 51%, #333 75%);
	opacity:0.95;
	background-repeat: repeat-x;
	background-color: #333;
}

.titlebar * {
	padding: 10px;
	font-size: 20px;
}

.title {
	float: left;
}

.back {
	float: left;
	padding: 10px;
	width: 100px;
	cursor: pointer;
}

.gallerylink {
	display: none;
	float: right;
	cursor: pointer;
}

a {
  color: #00B7FF;
}

.grid-wrapper {
	margin: 10px;
}

.grid-item {
}

.preview-grid-item {
	width: 150px;
	height: 140px;
}

.folder {
	border: solid #777 2px;
	background: linear-gradient(180deg, #555 0%, #666 51%, #555 75%);
	height: 300px;
	width: 300px;
	cursor: pointer;
	padding: 5px;
}

.video {
	cursor: pointer;
	font-size: 12px;
	background: linear-gradient(180deg, #555 0%, #666 51%, #555 75%);
}

.caption .filename {
	width: 90%;
	overflow: hidden;
}

.caption .frame-counter {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.video .caption {
	overflow: hidden;
}

/*
.video {
	background-color: #eee;
}

.video div.videowrapper {
	position: relative;
}

.video video {
	width: 100%;
}
*/

.image {
	cursor: pointer;
}

div.click-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	height: 100%;
	width: 100%;
}

div.scrubber {
	position: absolute;
	bottom: 0px;
	background-color: #444;
	height: 20px;
	width: 100%;
}

div.scrubberActive {
	display: block;
	bottom: -20px;
}

div.scrubber div.marker {
	width: 1px;
	height: 100%;
	background-color: white;
	position: absolute;
}

.clear {
	clear:both;
}

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

/* imageviewer gallery */
#image-gallery {
      width: 100%;
      position: absolute;
	  top: 0px;
	  left: 0px;
      height: 100%;
      background: #000;
	  display: none;
    }
    #image-gallery .image-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 50px;
    }
    #image-gallery .prev,
    #image-gallery .next {
      position: absolute;
      height: 32px;
      margin-top: -66px;
      top: 50%;
    }
    #image-gallery .prev {
      left: 20px;
    }
    #image-gallery .next {
      right: 20px;
      cursor: pointer;
    }
    #image-gallery .footer-info {
      position: absolute;
      height: 50px;
      width: 100%;
      left: 0;
      bottom: 0;
      line-height: 50px;
      font-size: 24px;
      text-align: center;
      color: white;
      border-top: 1px solid #FFF;
    }
	#image-gallery .slideshowlabel {
		float: right;
		margin-right: 10px;
		cursor: pointer;
	}

/* !FOCUSED IMAGES */
/*-----------------------------------------*/
.videopreview {
	position: relative; /*Any position but static should work*/
	overflow: hidden;
}
.videopreview img {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	display: block;
	/* fill and maintain aspect ratio */
	width: auto; height: auto;
	min-width: 100%; min-height: 100%;
	max-height: none; max-width: none;
}