body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	width: 320px;
	height: 240px;
	display: inline-block;
	position: relative;
	margin: 5px;
	overflow: hidden;
}

#back {
	width: 160px;
	border: solid #ccc 2px;
}

li.folder {
	border: solid #ccc 2px;
}

li.file {
	background-color: #eee;
}

div.caption {
	position: absolute;
}

div.preview {
	position: absolute;
	top: 20px;
	width: 320px;
	height: 240px;
}

div.click-overlay {
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
}

div.frame-counter {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 10px;
	color: white;
}

div.scrubber {
	width: 320px;
	height: 20px;
	border: solid 2px #333;
	position: absolute;
	bottom: 0px;
	display: none;
}
